@media(max-width: 1024px) {
    .time__icon {
        width: 100px;
    }
    .time__box,
    .time__btn {
        gap: 10px;
    }
    .time__message span {
        font-size: 17px;
    }
}
@media(max-width: 767px) {
    .header__box,
    .pipeLeakageRemoval__box,
    .antiClogging__box,
    .time__box,
    .troubleshootingHeatingProblems__box {
        grid-template-columns: 1fr;
    }

    .comments__wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }
}
@media(max-width: 500px) {
    .btnFixedD {
        display: none;
    }
    .btnFixed {
        display: block;
    }
    footer {
        margin-bottom: 60px;
    }
    .comments__name {
        margin-top: -40px;
    }
    .comments__inner:nth-child(2) .comments__name {
        padding-right: 0px;
    }
}